
<html>
<head>
	<title>Welcome to our newsletter</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
		body {
			font-family: Arial, sans-serif;
			background-color: #f1f1f1;
			padding: 20px;
			line-height: 1.5;
			color: #333;
		}
		h1, h2, h3, p {
			margin: 0;
			padding: 0;
		}
		h1 {
			font-size: 36px;
			font-weight: bold;
			margin-bottom: 20px;
		}
		h2 {
			font-size: 28px;
			font-weight: bold;
			margin-bottom: 15px;
		}
		hr {
			border-top: 1px solid #ccc;
			margin: 30px 0;
		}
		.container {
			background-color: #fff;
			padding: 40px;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}
		.btn {
			display: inline-block;
			background-color: #4CAF50;
			color: #fff;
			padding: 10px 20px;
			border-radius: 5px;
			text-decoration: none;
			margin: 20px 0 40px;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>Welcome to our platform</h1>
		<p>Dear {{username}},</p>
		<p>Your registration has been received and we are excited to have you as part of our community</p>
		<p>As the final step, please verify your email address by clicking the link below:</p>
		<a href="{{authUrl}}/{{email}}/{{code}}" class="btn">click me to verification</a>
		
		<hr>
		
		<p>After verification, you will have full access to all the features and benefits that our platform has to offer. If you have any questions or feedback, please don't hesitate to contact us.</p>
		<p>Best,</p>
		<p> -- Leapqr -- </p>
	</div>
</body>
</html>
